.innerDiv {
  padding-top: 9px;
  padding-left: 2px;
  font-size: 18px;
  font-weight: normal;
}
/* .topDiv {
 background-color: #c80066;
 color: white;
 display: block;
 height: 60px;
 top: 0;
} */

.Toplink {
  padding: 1%;
  margin: 2%;
  text-decoration: none;
  color: grey;
  font-size: small;
}

.logo {
  float: left;
  padding: 1%;
  margin-right: 5%;
}
.photo {
  width: 30%;
  height: 30%;
}
.search {
  background-color: #7ccb55;
}
.topRight {
  float: right;
  color: grey;
  font-size: 14px;
  outline: none;
  border: none;
  margin-right: 12px;
  background: transparent;
}

/* .newBox {
 float: right;
 margin-right: 2%;
 width: 7%;
} */

.starCart {
  color: #7ccb55;
  float: left;
  margin-left: 6%;
  margin-right: 6%;
}
.cart {
  width: 80px;
  height: 80px;
  float: left;
  margin-top: 0px;
}
.myCart {
  background: #54bae2 none repeat scroll 0 0;
  border-radius: 15px;
  display: inline-block;
  height: 16px;
  margin: -3px 0 0 -10px;
  text-align: center;
  width: 15px;
}
.value {
  float: left;
  color: #fff;
  font-size: 11px;
  padding: 3px 0 0 2px;
  position: relative;
}

.login {
  width: 100%;
  height: 100px;
  background-color: #ededed;
  padding: 0.5%;
}
.close {
  float: right;
  padding: 1%;
}
.inputEmail {
  border: 1px solid #9f9f9f;
  padding: 0 0 0 45px;
  width: 195px;
  font-size: 14px;
  padding: 1%;
  margin: 1%;
}

.inputBox {
  margin-top: 0;
  margin-left: 15%;
}
.btnLogin {
  color: white;
  background-color: #7ccb55;
  margin: 2%;
  border: none;
  outline: none;
  padding: 1%;
}

/* RouteNav component style */

.routes {
  width: 97%;
  text-align: center;
  border: 1px solid #aaaca9;
  height: 40px;
  margin: 1.5%;
  margin-top: 6%;
  margin-bottom: 0px;
  border-bottom: 0px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 960px) and (min-width: 200px) {
  .routes {
    padding-bottom: 2%;
    display: flex;
    flex: 1;
  }
  .col {
    flex: 1;
  }
  .col1 {
    flex: 1;
  }
}
.col {
  width: 23%;
  margin-left: 0%;
  float: left;
  font-size: 20px;
  padding: 0.4%;
  color: #111111;
  font-weight: normal;
}
.col1 {
  background-color: #f3f3f3;
  width: 23%;
  margin-left: 0%;
  float: left;
  font-size: 20px;
}
.col:hover {
  border-bottom: 2px solid #85b847;
  background-color: #f3f3f3;
}

.hoverDiv {
  position: relative;
}

.innerHoverDiv {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 360px;
  z-index: 1;
}

.innerHoverDiv > p {
  padding: 12px 16px;
  display: block;
  border-bottom: 1px solid #e1e1e1;
}
.innerHoverDiv > p:last-child {
  border-bottom: 0px solid #e1e1e1;
}

.innerHoverDiv > p:hover {
  background-color: #85b847;
  color: white;
}
.chevron > :hover {
  color: white;
}
.hoverDiv:hover .innerHoverDiv {
  display: block;
}
.arrow {
  color: #c94267;
  width: 40px;
}
.chevron {
  color: grey;
  font-size: small;
  margin: 5px;
  float: right;
}

.hoverDivSearch {
  position: relative;
}

.innerHoverDivSearch {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 900px;
  z-index: 1;
  border: 1px solid green;
  text-align: center;
  top: 37px;
}

.innerHoverDivSearch > p {
  /* padding: 12px 16px; */
  display: block;
}

.hoverDivSearch:hover .innerHoverDivSearch {
  display: block;
}
.trend {
  color: #c94267;
  font-family: "CeraPRO-Light", "CeraPRO-Regular";
}
@media screen and (max-width: 1300px) and (min-width: 200px) {
  .innerHoverDivSearch {
    min-width: 470px;
  }
}
